
//Primary Colors
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);

//Neutral Colors

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-gray: hsl(0, 0%, 86%);
$smoke-gray: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

//Fonts
$font-family: 'Poppins', sans-serif;